
   .nav {
   
    padding: 1.5rem;
    text-align: center;

   }
   
   .nav p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
   }
   
   
   
   
   
   .nav button {
   
    font: inherit;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #b50938;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;

   }
   
   
   
   
   
   
   
   .nav button:hover,
   .nav button:active {
    background-color: #e2e2ff;
   
   }
   
   
   